# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore large files directories
/checkpoints/
/activations/
/clusters/
/final_dicts/
/datset/
/datset/
# Ignore virtual environment
venv/


*.pt
*.json

